@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Inquisitive programmer ,always seeking for new things. I am currently persuing MCA from JSPM RSCOE,Tathawade. I am pretty attracted towards Python and C++ programming. The new emerging techs in market attracts me much. Want to get deeper into concepts of data structures and algorithms.
    </p>
<p>
    My Hobbies are Sketching , Watching Movies and Inventing new things . I own a start-up named 'Arthris' which is owned by me. The startup is simply based on sketching peoples potrait sketches and selling them after framing. I have sold 70+ Sketches till date. My startup has successfully completed 3 years.
</p>
