@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tathawade Pune<br />
    Maharashtra,India<br />
    <abbr title="Phone">P:</abbr>
    +91 9702905375
</address>

<address>
    <strong>Order:</strong>   <a href="mailto:saratehrishikesh17@gmail.com">Personal@mail</a><br />
    <strong>Collab:</strong> <a href="mailto:arthris17@gmail.com">Business@mail</a>
</address>